@using Business.ViewModels.Admin.Vision
@model VisionDetailsVM

<div class="m-4 form-group">
	<a class="btn btn-primary" asp-action="index" asp-controller="vision">Return to list</a>
	<h1>Sub Header</h1>
	<p>@Model.SubHeader</p>
	<br />
	<h1>Header</h1>
	<p>@Model.Header</p>
	<br />
	<h1>Description</h1>
	<p>@Model.Description</p>
	<br />
	<h1>Created At</h1>
	<p>@Model.CreatedAt.ToString("dd.MM.yyyy HH:mm:ss")</p>
	<br />
	<h1>Modified At</h1>
	<p>@Model.ModifiedAt?.ToString("dd.MM.yyyy HH:mm:ss")</p>

	@if (Model.VisionGoals.Count != 0)
	{
		<div class="table-responsive">
			<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
				<thead>
					<tr>
						<th>Title</th>
						<th>Description</th>
						<th>Photo</th>
						<th>Created At</th>
						<th>Modified At</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var goal in Model.VisionGoals)
					{
						<tr>
							<td>@goal.Title</td>
							<td>@goal.Description</td>
							<td>
								<img class="w-25" src="~/assets/img/@goal.Photo" alt="">
							</td>
							<td>@goal.CreatedAt.ToString("dd.MM.yyyy HH:mm:ss")</td>
							<td>@goal.UpdatedAt?.ToString("dd.MM.yyyy HH:mm:ss")</td>
							<td>
								<a asp-action="update" asp-controller="visiongoal" asp-route-id="@goal.Id" class="btn btn-primary">Update</a>
								<a onclick="return DeleteConfirmation()" asp-action="delete" asp-controller="visiongoal" asp-route-id="@goal.Id" class="btn btn-danger">Delete</a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	}

</div>