@using Business.ViewModels.User.Faq
@model FaqIndexVM
<!-- main starts -->
<main>
	<!-- main-frame section starts -->
	<section class="main-frame no-select" style="background-image: url(assets/images/main-frame-photo.jpg);">
		<div class="main-frame-title">
			<div class="container">
				<div class="row text-center">
					<div class="col-md-12">
						<div class="main-frame-title-text">
							Frequent Asked Questions
						</div>
					</div>
					<div class="col-md-12">
						<div class="main-frame-breadcrumb">
							Home / FAQ
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- main-frame section ends -->
    @if (Model.Categories.Count != 0)
    {
        <!-- questions section starts -->
        <section class="questions no-select">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-lg-4">
                        <div class="questions-tabs" data-aos="fade-up" data-aos-duration="2000">
                            @for (int i = 0; i < Model.Categories.Count; i++)
                            {
                                var category = Model.Categories[i];
                                <div class="tab @(i == 0 ? "active-tab" : "")" data-category-index="@i">
                                    <h5 class="tab-title">@category.Title</h5>
                                    <p class="tab-text">
                                        @category.About
                                    </p>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-8">
                        <div class="questions-content" data-aos="fade-up" data-aos-duration="2000">
                            @for (int i = 0; i < Model.Categories.Count; i++)
                            {
                                var category = Model.Categories[i];
                                <div class="question @(i == 0 ? "active-question" : "")">
                                    <h5 class="content-title">@category.Title</h5>
                                    <ul id="accordion">
                                        @if (category.Faqs is not null)
                                        {
                                            foreach (var faq in category.Faqs)
                                            {
                                                <li data-aos="fade-up" data-aos-duration="2000">
                                                    <span class="faq-title">@faq.Title</span>
                                                    <div class="faq-description">
                                                        @faq.Description
                                                    </div>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- questions section ends -->
    }
</main>
<!-- main ends -->
@section Scripts{
	<script>
		$(document).ready(function () {
			// Hide all questions initially
			$(".question").hide();
			// Show the first question initially
			$(".question:first").show();

			// Handle tab click event
			$(".tab").on("click", function () {
				var categoryIndex = $(this).data("category-index");
				// Hide all questions
				$(".question").hide();
				// Show the question with the same index as the clicked tab
				$(".question:eq(" + categoryIndex + ")").show();
			});
		});
	</script>
    <script>
        $(document).ready(function () {
            // Hide all questions initially
            $(".faq-description").hide();
            // Show the first question initially
            $(".faq-description:first").show();

            // Handle FAQ title click event
            $(".question li").on("click", function (e) {
                e.stopPropagation()
                // Toggle the visibility of the clicked FAQ description
                $(this).find(".faq-description").slideToggle();
                // Hide other FAQ descriptions
                $(".faq-description").not($(this).find(".faq-description")).slideUp();
            });
        });
    </script>
}