@using Business.ViewModels.Admin.Plan
@model PlanListVM

<!-- Begin Page Content -->
<div class="container-fluid">
	<!-- Page Heading -->
	<h1 class="h3 mb-2 text-gray-800">Plan</h1>
	<a class="btn btn-primary m-3" asp-action="create" asp-controller="plan">Create</a>
	<!-- DataTales Example -->
	<div class="card shadow mb-4">
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>Title</th>
							<th>Subtitle</th>
							<th>Created At</th>
							<th>Modified At</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var plan in Model.Plans)
						{
							<tr>
								<td>@plan.Title</td>
								<td>@plan.SubTitle</td>
								<td>@plan.CreatedAt.ToString("dd.MM.yyyy HH:mm:ss")</td>
								<td>@plan.UpdatedAt?.ToString("dd.MM.yyyy HH:mm:ss")</td>
								<td>
									<a asp-action="update" asp-controller="plan" asp-route-id="@plan.Id" class="btn btn-primary">Update</a>
									<a onclick="return DeleteConfirmation()" asp-action="delete" asp-controller="plan" asp-route-id="@plan.Id" class="btn btn-danger">Delete</a>
									<a asp-action="details" asp-controller="plan" asp-route-id="@plan.Id" class="btn btn-primary">Details</a>

								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<!-- /.container-fluid -->
