@using Business.ViewModels.User.Pricing
@model PricingPageIndexVM
<!--main starts -->
<main>
	<!-- main-frame section starts -->
	<section class="main-frame no-select" style="background-image: url(assets/images/main-frame-photo.jpg);">
		<div class="main-frame-title">
			<div class="container">
				<div class="row text-center">
					<div class="col-md-12">
						<div class="main-frame-title-text">
							Pricings
						</div>
					</div>
					<div class="col-md-12">
						<div class="main-frame-breadcrumb">
							Home / Pricings
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- main-frame section ends -->
	<!-- pricings section starts -->
	@if (Model.Plans.Count != 0)
	{
		<section class="pricings no-select">
			<div class="container">
				<div class="pricing-top text-center" data-aos="fade-down" data-aos-duration="1500">
					<p class="sub-heading">@Model.Pages[0].SubHeader</p>
					<h2 class="heading">@Model.Pages[0].Header</h2>
				</div>
				<div class="pricing-slider" data-aos="fade-up" data-aos-duration="1500">
					@for (int i = 0; i < Model.Plans.Count; i++)
					{
						var plan = Model.Plans[i];
						<div class="pricing-slider-element @(i == 1 ? "active-price" : "")">
							<div class="slider-element-wrapper">
								<h4 class="title-pricing">@plan.Title</h4>
								<p class="subtitle-pricing">@plan.SubTitle</p>
								<div class="price">
									<span class="unitprice">@(plan.PriceUnit.ToString().ToUpper().Trim() == "USD" ? "$" : plan.PriceUnit.ToString().ToUpper().Trim() == "EUR" ? "€" : "₼")</span>
									<span class="price-value">@plan.Value</span>
									<span class="per">/@plan.Period</span>
								</div>
								@if (plan.Features.Count != 0)
								{
									<ul class="features">
										@foreach (var feature in plan.Features)
										{
											<li>
												<i class="fas fa-check"></i>
												<span>@feature.Feature</span>
											</li>
										}
									</ul>
								}
								<div class="get-started">Get Started</div>
							</div>
						</div>
					}
				</div>
			</div>
		</section>
	}
	<!-- pricings section ends -->
</main>
<!--main ends -->